body {
    font-family: Arial, sans-serif;
    background-color: #d2d2f3;
    margin: 0;
    padding: 0;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    background-color: #e9baba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #5f415f;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

td {
    border: 1px solid #ddd;
    padding: 15px;
    vertical-align: top;
}

#product-grid {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 200px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.product-price {
    color: #FF5722;
    font-weight: bold;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.product-stock {
    font-size: 14px;
    color: rgb(8, 8, 8);
    font-weight: bold;
}

.buy-now {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
}

.buy-now:hover {
    background-color: #0056b3;
}
